@charset "utf-8";

body {
  font-family: sans-serif;
}
h1{
  font-size: 21px;
}
h2{
  font-size: 18px;
}
p{
  margin-top: 0;
  margin-bottom: 0;
}
input, textarea{
  box-sizing: border-box;
  font-family: sans-serif;
}
input[type="text"],
[type="email"]{
border: 1px solid #ccc;
padding: 8px;
width: 100%;
font-size: 16px;}
textarea{
  border: solid 1px #ccc;
  padding: 8px;
  width: 100%;

}

.submit-p{
  text-align: center;
}
input[type="submit"]{
  border: 1px solid #0086f9;
  border-radius: 6px;
  padding: 12px 48px;
  font-size: 16px;
  background: linear-gradient(0deg, #0086f9, #b6d6f7);
  color: #fff;
  font-weight: bold;
}
input[type="submit"]:hover{
  background: linear-gradient(0deg, #2894f9, #d2e4f7);
}
input[type="submit"]:active{
  background: linear-gradient(0deg, #0074d8, #b6d6f7);
}

.radiobox li{
  display:inline;
  margin-right: 1em;
}

.info{
  list-style-type:none;
}

.profile{
  padding:16px ;
  border: 1px solid #095cdc;
}

.profile h2{
  margin-top: 0;
  margin-bottom: 0;
}

.required{
  padding: 0.5em;
  font-size: 0.75em;
  color: #FF0000;
}

a{
  color: #0066bb;
  text-decoration: none;
}

a:visited{
  color:#0077bb;
}

a:hover{
  color:#111111;
  text-decoration: underline;
}

a:visited{
  color:red;
}

a:active{
  color:gray;
}

.index1700{
  text-decoration: line-through;
}

a[target="_blank"]::after {
  content: url(opentab.png);
}

a[target="_blank"]::before{
  content: "＊";
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.thumbnail{
  width:250px;
}

a:hover img{
   opacity: 0.5;
}

a:hover .frame{
  border: 1px solid red;
}
