@charset "utf-8";

/* 要素セレクタ */
*, *::before, *::after{
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #151515;
  text-align: center;
  font-size:1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #333333;
  background:url("images/background-image.png") no-repeat fixed left bottom;
  background-size:cover;
  background-attachment: fixed;
}
p{
  display: block;
}
ul{
  list-style: none;
}

h1{
  margin: 50px 0 40px;
  font-size: 7.9rem;
}
a{
  color:#FFFFFF;
  text-decoration: none;
  font-size: 1.2rem;
}

/* サイト全体タグ クラスセレクタ*/
.site-header{
  padding: 170px 30px 80px;
  color:#FFFFFF;
}
.site-main{}
.section-title{
  margin:30px 0 15px;
  padding-bottom: 15px;
  font-size: 4rem;
  letter-spacing: 2px;
}
.section-title{
  display: inline-block;
  position:relative;
}
.section-title::before,
.section-title::after{
  content: "";
  border-bottom: 1px solid #999999;
  right:0;
  left:0;
  position: absolute;
}
.section-title::before{
  bottom:0;
}
.section-title::after{
  bottom: 5px;
}

.site-section.section-about{
  padding: 80px 30px;
  background-color: #FFFFFF;
}

.site-section.section-works{
  padding: 80px 0px;
  background-color: #383634;
  color: #FFFFFF;
}
.site-section.section-skills{
  padding: 80px 0px;
  background-color: #FFFFFF;
}
.site-section.section-contact{
  padding: 80px 0 150px;
  color:#FFFFFF;
}
.site-footer{
  padding:12px 0;
  color:#FFFFFF;
}

/* サイトタイトル クラスセレクタ*/
.section-header{
  font-size: 4rem;

}


/* headerセクション*/
.site-title-sub {
  margin:0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after{
  content: "";
  display: inline-block;
  width: 140px;
  height: 2px;
  background-color: #FFFFFF;
  margin:0 30px;
  vertical-align: middle;
}
h1+p{
  color: #888888;
  font-size: 1.6rem;
  margin-bottom: 50px;
}
.header-button{
  margin:10px;
  display: inline-block;
  width: 200px;
  padding:20px;
  border-radius: 4px;
  box-sizing: border-box;
}
.button-contents{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.header-button-1{
  background-color:#afa58d;
}
.header-button-2{
  background-color:#d29e04;
}
.header-button-1:hover,
.header-button-2:hover
{
  opacity: 0.9;
}
/* aboutセクション*/
.about-main>p{
  margin: 30px 0;
  line-height: 2.5;
}
/* worksセクション*/

.ul-works-images{
 display: table;
 table-layout: fixed;
 width:100%;
 margin-top: 60px;
 }
.li-works-contents{
  display: table-cell;
  width:25%;
}
.img-works-contents-images{
width: 100%;
margin:-2px;
}
.img-works-contents-images1,
.img-works-contents-images3
{
margin:60% 0 0;
}
.a-works-button{
  margin-top: 20px;
  padding: 5px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  display: inline-block;
}
.for-p-size>p{
  font-size:1.2rem;
  line-height: 2;
}


/*それぞれの画像の説明部分位置設定*/
/*１*/
/*元になる場所*/
.image-wrapper1{
  position: relative;
}
.work-image-explainpart1{
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  display: table;
}

.work-image-explainpart-wrp1::after{
  position: absolute;
  content: '';
  display: block;
  background-image: url(images/image1.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  opacity: 0.2;
  transform: scaleY(-1);
}
.work-image-explainpart-wrp1{
  position: absolute;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  top:0;
}
.for-varticle-align{
  display: table-cell;
  vertical-align: middle;
}
/*2*/
/*元になる場所*/
.image-wrapper2{
  position: relative;
}
.work-image-explainpart2{
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
}
.img-works-contents-images2{
  margin: 0 0 60%;
}

.work-image-explainpart2::after{
  position: absolute;
  content: '';
  display: block;
  background-image: url(images/image2.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  opacity: 0.2;
  transform: scaleY(-1);
}
.work-image-explainpart-wrp2{
  position: absolute;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  top:50%;
}

/*３*/
/*元になる場所*/
.image-wrapper3{
  position: relative;
}
.work-image-explainpart3{
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
}

.work-image-explainpart3::after{
  position: absolute;
  content: '';
  display: block;
  background-image: url(images/image3.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  opacity: 0.2;
  transform: scaleY(-1);
}
.work-image-explainpart-wrp3{
  position: absolute;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  top:0;
}
/*4*/
/*元になる場所*/
.image-wrapper4{
  position: relative;
}
.work-image-explainpart4{
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
}
.img-works-contents-images4{
  margin: 0 0 60%;
}

.work-image-explainpart4::after{
  position: absolute;
  content: '';
  display: block;
  background-image: url(images/image4.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  opacity: 0.2;
  transform: scaleY(-1);
}
.work-image-explainpart-wrp4{
  position: absolute;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  top:50%;
}
/* skillsセクション*/
/* contactセクション*/
/* footerセクション*/
