@charset "UTF-8";
/*=========== top_main ===========*/
#top_main {
	width: 100%;
	max-width: 1500px;
	min-width: 1000px;
	margin-top: 177px;
}
#top_main h2 {
	padding: 125px 0 0 30px;
}
#top_main #order1 {
	padding: 55px 0 0 35px;
}
/*=========== top_news ===========*/
#top_news {
	width: 100%;
	min-width: 1000px;
	max-width: 1500px;
}
#top_news h2 {
	text-align: center;
	padding: 160px 0 89px;
	min-width: 1000px;
	margin: 0 auto;
}
#top_news .list-outer {
	width: 1341px;
	margin: 0 auto;
	padding-bottom: 110px;
}
#top_news ul {
	margin-top: -120px;
	margin-right: -27px;
}
#top_news ul li {
	display: block;
	float: left;
	list-style: none;
	width: 315px;
	height: 600px;
	position: relative;
	margin-top: 86px;
	margin-right: 27px;
}
#top_news .news_date {
	color: #D67145;
	padding: 20px 0;
	font: italic 12px "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
#top_news ul li h3 {
	margin-bottom: 20px;
	color: #551A0C;
	font-size: 15px;
	line-height: 1.8;
	height:70px;
	letter-spacing: 0.1em;
}
#top_news ul li p {
	margin-bottom: 25px;
	line-height: 1.8;
	letter-spacing: 0.1em;
	font-size: 13px;
	color: #54190b;
}
#top_news ul li #newmark {
	width: 74px;
	height: 74px;
	position: absolute;
	top: -19px;
	right: -19px;
	z-index: 5;
}
#top_news a:hover {
	opacity: 0.8;
}
.detail-underline {
	text-decoration: underline;
}
.header-letter-NEWS {
	width: 135px;
	height: 50px;
}
/*=========== top_semiorder ===========*/
#top_semiorder {
	width: 100%;
	min-width: 1000px;
	margin: 0 auto 100px;
	height: 675px;
	background-image: url(../img/semiorder_bk.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}
#top_semiorder h2 {
	text-align: center;
	padding-top: 85px;
}
#top_semiorder #order2 {
	text-align: center;
	padding-top: 45px;
}
.content-images {
	width: 315px;
	height: 315px;
}
.image-NEW {
	width="75" height="74"
	width: 75px;
	height: 74px;
}
/*=========== fade ===========*/
